.chatRoot {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  grid-template-columns: 100%;
}

.chatBlockNavigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-top: 6px;
}

.chatHistory {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.chatInputBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.chatInput {
  flex-grow: 2;
  padding-right: 20px;
}

.progressContainer {
  height: 1px;
  width: calc(100% - 20px);
}

.progressBit {
  height: 1px;
  top: 1px;
  position: relative;
  width: 1.9%;
  display: inherit;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: progress;
  animation-timing-function: steps(1000);
  background-color: #0078d4;
  z-index: 100;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(2500%) scaleX(3);
  }
  100% {
    transform: translateX(5000%) scaleX(1);
  }
}
