main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

body {
  padding: 0px;
}

.chat-history {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.chat-input-block {
  height: 10vh;
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.chat-input {
  flex-grow: 2;
  padding-right: 20px;
}