.chatHistoryBlockNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.chatHistoryBlock {
  display: flex;
  flex-direction: column;
}

.chatHistoryChat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.chatHistoryChatButtons {
  display: flex;
  flex-direction: column;
}
